<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://playontv.herokuapp.com/">
    <previewjs>PreviewPlayOnTV</previewjs>
    <type>user</type>
    <cpname/>
    <cplogo/>
    <cpauthjs/>
    <ThumbIcon>assets/play_button_icon_106.png</ThumbIcon>
    <BigThumbIcon>assets/play_button_icon_115.png</BigThumbIcon>
    <ListIcon>assets/play_button_icon_85.png</ListIcon>
    <BigListIcon>assets/play_button_icon_95.png</BigListIcon>
  
    <ver>1.4</ver>
    <mgrver/>
    <fullwidget>y</fullwidget>
    <movie>y</movie>
    <srcctl>y</srcctl>
    <ticker>n</ticker>
    <childlock>n</childlock>
    <audiomute>n</audiomute>
    <videomute>n</videomute>
    <dcont>y</dcont>
    <widgetname>PlayOnTV</widgetname>
    <description/>
    <width>960</width>
    <height>540</height>
    <author>
        <name>Samsung Electronics Co. Ltd.</name>
        <email/>
        <link>http://www.sec.com</link>
        <organization>Samsung Electronics Co. Ltd.</organization>
    </author>
</widget>